<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyTorch Image Classification</title>
</head>
<body>
    <h1>PyTorch HandWriting Recognition MNIST</h1>
    <form class="form form-horizontal" action="" method="POST">
        <div class="row cl">
            <label class="form-label col-xs-3">
                <div class="formControls col-xs-8">
                    <input id="test_dataset_path" name="path" type="text" class="input-text size-L">
                </div>
            </label>
        </div>
        <div class="row cl">
            <div class="formControls col-xs-8 col-xs-offset-3">
                <input name="" type="submit" class="btn btn-success radius size-L" value="predict">
            </div>
        </div>
    </form>

</body>
</html>